<ngx-datatable class="material" [rows]="rows" [loadingIndicator]="!rows" columnMode="force" footerHeight="auto"
    (activate)="onActivate($event)" rowHeight="auto" limit="100">
    <ng-container *ngFor="let prop of model?.properties | keys">
        <ngx-datatable-column *ngIf="!prop.value.xHidden" [name]="prop.value['x-display'] || (prop.key | startcase)" [prop]="prop.key">
            <ng-template let-value="value" ngx-datatable-cell-template *ngIf="prop.value.type == 'boolean'">
                <mat-checkbox [checked]="value" disabled="true"></mat-checkbox>
            </ng-template>
        </ngx-datatable-column>
    </ng-container>
    <ngx-datatable-column *ngIf="actions?.length > 0">
        <ng-template ngx-datatable-cell-template let-row="row">
            <ng-container *ngFor="let action of actions">
                <a mat-icon-button [routerLink]="action.link | populateKey:row:model?.properties" [matTooltip]="action.display" [ngSwitch]="action.type">
                    <mat-icon *ngSwitchCase="'delete'">delete</mat-icon>
                    <mat-icon *ngSwitchCase="'update'">edit</mat-icon>
                    <span *ngSwitchDefault>{{action.display}}</span>                    
                </a>
            </ng-container>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>