.selectable {
    tr:hover, mat-row:hover {
        cursor: pointer;
       background-color: darken(white, 3%);
    }
    tr.active, mat-row.active {
        background-color: darken(white, 5%);
    }
}